{{>nav}}

<h2>Edit your profile details</h2>

{{#if notValid}}
    <p>
        {{ notValid }}
    </p>
{{/if}}

<form method="POST">
    Age <input type="text" name="age" value="{{ age }}" placeholder="Age" autocomplete="off"/>
    City <input type="text" name="city" value="{{ city }}" placeholder="City" autocomplete="off"/>
    Website <input type="text" name="url" value="{{ url }}" placeholder="Website" autocomplete="off"/>
    First Name <input type="text" name="firstName" value="{{ firstName }}" placeholder="First Name" autocomplete="off"/>
    Last Name<input type="text" name="lastName" value="{{ lastName }}" placeholder="Last Name" autocomplete="off"/>
    Email <input type="email" name="email" value="{{ email }}" placeholder="Email" autocomplete="off"/>
    Password <input type="password" name="password" placeholder="Password" autocomplete="off"/>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Save</button>
</form>

<form method="POST" action="/deleteuser">
    In case you want to delete your account:
    <button>Delete account</button>
    Watch out, this will delete all data we have from you, including any signatures. You will need to register again to access our petitions.
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
