<h1>Signers list</h1>

{{>logout}}

{{#names}}
    <p>
        {{#if url}}
            <a href="{{ url }}">
        {{/if}}
        {{ first_name }} {{ last_name }}
        {{#if url}}
            </a>
        {{/if}}
        {{#if age}}
            {{ age }}
        {{/if}}
        {{#if city}}
            <a href="/signers/{{ city }}">{{ city }}</a>
        {{/if}}
    </p>
{{/names}}
